<div class="ui container">
  <h1 class="ui header">Room: <%= @room.name %></h1>

  <div class="update_messages ui large relaxed list">
    <%= render @messages %>
  </div>

  <%= form_for [@room, Message.new(username: current_user)], remote: true do |f| -%>
    <div class="ui large form">
      <div class="fields">
        <div class="nine wide field"><%= f.text_field :body, placeholder: 'Your message', required: true %></div>
        <div class="three wide field"><%= f.text_field :username, placeholder: 'Your name', required: true %></div>
        <%= f.submit "Send", class: 'ui green button' %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function reload() {
    $.get("<%= room_messages_path(@room, format: :js) %>", function(response) {
      console.log("Run successfully")
    })
  }

  function reloadJSON() {
    $.getJSON("<%= room_messages_path(@room, format: :json) %>", function(response) {
      console.log("data", response)
    })
  }
  // setInterval(reload, 3000) --> rails help to do this ???
</script>