<div class="ui large blue inverted menu">
  <a class="ui active item" href=<%= root_path %> >RealChat</a>
    <div class="right menu">
    <% if current_user %>
      <a class="ui active item"><%= current_user %></a>
      <%= link_to "Sign Out", sign_out_path, method: 'delete', class: 'ui item' %>
    <% else %>
      <%= form_tag sign_in_path do %>
        <div class="ui form">
          <div class="fields">
            <div class="field"><%= text_field_tag :username, nil, placeholder: 'Username' %></div>
            <%= submit_tag 'Log in', class: 'ui button' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>