<div class="ui large teal  inverted borderless menu" style="border-radius:0!important"> 
  <a class="ui active item" href=<%= root_path %> >RealChat</a>
    <div class="right menu">
    <% if current_user %>
      <a class="ui active item"><%= current_user %></a>
      <%= link_to "Sign Out", sign_out_path, method: 'delete', class: 'ui item' %>
    <% else %>
      <div class="item">
        <%= form_tag sign_in_path do %>
          <div class="ui mini form">
            <div class="fields" style="margin-bottom:0!important">
              <div class="field"><%= text_field_tag :username, params[:username], placeholder: 'Username' %></div>
              <%= submit_tag 'Sign in', class: 'ui mini yellow button' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>